<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <default>
                <show_storefinder_shop_breadcrumbs>1</show_storefinder_shop_breadcrumbs>
            </default>
        </web>
    </default>
</config>
