<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ADM\StoreFinder\Api\Data\ShopInterface" type="ADM\StoreFinder\Model\Shop" />
    <virtualType name="ShopGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ADM\StoreFinder\Model\Resource\Shop\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ShopGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="ADM\StoreFinder\Model\ResourceModel\Shop\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">adm_shop</argument>
            <argument name="resourceModel" xsi:type="string">ADM\StoreFinder\Model\ResourceModel\Shop</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storefinder_shop_listing_data_source" xsi:type="string">ADM\StoreFinder\Model\ResourceModel\Shop\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>